<!-- footer start -->

<footer class="site-footer">
  <a class="subscribe" href="{{ "/feed.xml" | prepend: site.baseurl }}"> <span class="tooltip"> <i class="fa fa-rss"></i> Inscreva-se!</span></a>
    <div class="inner">
         <section class="copyright">Copyright <a href="mailto:{{ site.email}}">{{ site.name }}</a> &copy; {{ site.time | date: '%Y' }} &bull; Todos os direitos resevados.</section>
         <section class="poweredby">A reprodução do conteúdo encontrado aqui é livre desde que mencionada fonte.</section>
    </div>
</footer>

<!-- footer end -->
